div.container{
    margin-top: 20px;
}
.avatar{
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;

}
.avatar-medium{
    max-width: 70px;
    max-height: 70px;
}
div.ad-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}


div.ad-title h1,div.ad-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}
